## Performance Test on Service Type - Based on Status

* POST URL: https://abcservice/api
* GRT URL: htpps://abcservice/api/results?request_id=

### Categories

<table border="1">
    <tr>
        <td>Size</td>
        <td>Count</td>
    </tr>
    <tr>
        <td>Small</td>
        <td>0-500</td>
    </tr>
    <tr>
        <td>Medium</td>
        <td>500-1000</td>
    </tr>
    <tr>
        <td>Large</td>
        <td>Above 1000</td>
    </tr>
    <tr>
        <td>All</td>
        <td>All 3</td>
    </tr>
</table>

### Test Summary

1. Category - Small (Reqs Count 500 & 1000)

Table Log

#### The Performance test results indicate the following:

*
*
*
*
*

#### Screenshots

500 Reqs - Small